.our__teachers {
    padding: 1em 0 4em;
}

.container-1,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    width: 100%;
    padding-left: var(--bs-gutter-x, .75rem);
    padding-right: var(--bs-gutter-x, .75rem);
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1400px) {

    .container-1,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1320px;
    }
}

.main__title-2 {
    font-size: var(--font-size-32, 2rem);
    margin-bottom: 1.2em;
}

.main__title-2,
.semi__title {
    color: #0a4426;
    text-align: center;
}

.g-3,
.gy-3 {
    --bs-gutter-y: 1rem;
}

.row-2 {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-left: calc(-.5* var(--bs-gutter-x));
    margin-right: calc(-.5* var(--bs-gutter-x));
}

@media (min-width: 992px) {
    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }
}

.card-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: initial;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card-2 {
    text-align: center;
    padding: 1.5em;
    border: none;
    border-radius: 12px;
    transition: .2s ease-in-out;
}

.card-2 {
    height: 100%;
}

element.style {
    transform: translateY(0px);
    box-shadow: none;
}

.card-2 .card__header {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.cursorPointer {
    cursor: pointer !important;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.card-2 .card__img {
    border: 2px solid #0C8849;
    border-radius: 50%;
    padding: 2px;
    width: 100px;
    height: 100px;
}

img {
    max-width: 100%;
}

img,
svg {
    vertical-align: middle;
}

.card-2 .teacher__name {
    font-size: var(--font-size-18, 1.125rem);
    margin: 1em 0;
    min-height: 62px;
    height: 62px;
    max-height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-2 .teacher__name {
    margin: .5rem 0 0 !important;
}

.card-2 .numbers__students,
.card-2 .numbers__classes,
.card-2 .country {
    color: #0c8849;
}

.card-2 .country {
    color: #0c8849;
    margin-bottom: .5rem;
    font-size: var(--font-size-16, 1rem);
}

.card-2 .specialty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    flex-wrap: wrap;
}

.card-2 .specialty .specialty__title {
    color: #444;
    font-size: var(--font-size-14, .875rem);
}

.card-2 .specialty .specialty__title {
    width: 100% !important;
}

.card-2 .specialty .tags {
    color: #0c8849;
    background-color: #0c884926;
    border-radius: 6px;
    padding: 5px 10px;
    font-size: .75rem;
    display: inline-block;
    margin: 0 4px 5px;
}

.card-2 .specialty .tags {
    flex-grow: 1;
}

.actions__button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    flex-wrap: wrap;
    margin: 2em 0 0;
}

.button-2 {
    position: relative;
    border-radius: 6px;
    padding: .4rem .6rem;
    background: #fff;
    border: 2px solid #fff;
    font-size: var(--font-size-14, .875rem);
}

.button.raised__button-2 {
    background: #fff;
    color: #0a4426;
    border: 2px solid #fff;
}

.raised__button-2,
.outlined__button {
    transition: .2s ease-in-out;
}

.raised__button-2 {
    margin: 0 0 0 .625rem;
    color: #fff;
    background-color: #0c8849;
}
element.style {
    transform: translateY(0px);
    box-shadow: none;
}